<header class="header">
    <!-- <link rel="stylesheet" type="text/css" href="assets/syntax.css"> -->
    <!-- <link rel="stylesheet" -->
    <!--       href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css"> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script> -->
    {{ partial "mathjax_support.html" . }}
    {{ partial "github_buttons.html" . }}
    <!-- <link rel="stylesheet" href="{{ "assets/prism.css" | absURL }}"> -->
    <div class="header__inner">
        <div class="header__logo">
            {{ partial "logo.html" . }}
        </div>
        <div class="menu-trigger">menu</div>
    </div>
    {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
    {{ end }}
</header>
